/*font-family: 'Arvo', sans-serif;
font-family: 'Lato', sans-serif;*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000000;
  margin: 0 16px;
}

@media(min-width:768px) {
  body {
    margin: 0 70px;
  }
}

.content__logo {
  position: relative;
}

.logo {
  position: absolute;
  right: 25px;
  top: 25px;
}

@media(min-width:768px) {
  .logo {
    height: 30px;
    width: 184px;
  }
}

@media(min-width:1024px) {
  .logo {
    height: 66px;
    width: 408px;
  }
}

.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  gap: 13px;
  padding-bottom: 7px;
}

@media(min-width:768px) {
  .content__container {
    flex-direction: row;
    align-items: unset;
  }
}

.title {
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  text-align: left;
}

@media(min-width:768px) {
  .title {
    font-size: 48px;
  }
}


.highlighted {
  color: rgb(255, 165, 0);
}


.image {
  width: 300px;
  height: 280px;
}

.search__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media(min-width:768px) {
  .search__content {
    gap: 20px;
  }
}



.label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media(min-width:768px) {
  .label {
    font-size: 24px;
  }
}

.search__input {
  width: 328.1px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #454545;
  padding: 11px 16px;
}

.search__button {
  background-color: #FF7A00;
  border-radius: 8px;
  width: 40px;
  height: 40px;
}

.search-form {
  border-radius: 8px;
  background-color: #232323;
  display: flex;
}

.search-form__input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  flex: 1;
  color: #FFFFFF;
  height: 40px;
  margin-left: 20px;
  min-width: 10px;
  appearance: none;
}

@media(min-width:768px) {
  .search-form__input {
    font-size: 18px;
    height: 48px;
  }
}

.search-form__button {
  border-radius: 8px;
  background-color: #FF7A00;
  border: none;
  padding: 6px 18px;
  cursor: pointer;
}


.track-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

@media(min-width:768px) {
  .track-container {
    margin-top: 24px;
  }
}

.track-list {
  min-width: 30%;
  list-style: none;
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.track {
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #232323;
  padding-left: 10px;
}

.track li {
  flex: 1;
}

.track-item,
.track-item-price,
.track-item-name {
  font-family: Lato;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.track-item-name {
  font-size: 14px;
}

@media(min-width:768px) {
  .track-item {
    font-size: 24px;
  }
}

.track-item-price {
  font-size: 14px;
  color: #4CD71D;
  padding-right: 7px;
}

@media(min-width:768px) {
  .track-item-price {
    font-size: 18px;
  }
}

.add-btn {
  border-radius: 8px;
  background-color: #FF7A00;
  border: none;
  padding: 6px 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #000000;
  height: 40px;
  cursor: pointer;
}

@media(min-width:768px) {
  .add-btn {
    height: 48px;
    font-size: 18px;
  }
}

/*Card*/
.cards-container {
  display: flex;
  gap: 16px;
  margin-top: 48px;
  height: 65vh;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-icon {
  display: none;
}

.circle-icon-alert {
  display: block;
  background-color: #FF7A00;
  border-radius: 50%;
  width: 39.49px;
  height: 39.49px;
  background-image: url(./images/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -35%;
  animation: parpadear 1s ease-in-out;
}

@keyframes parpadear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




.card {
  background-color: #232323;
  border-radius: 8px;
  display: grid;
  padding: 3px;
  height: 72%;
}

.card-cross {
  background-color: #232323;
  border: none;
  justify-self: end;
  padding: 8px;

  border-radius: 8px;
}


.coin-logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-title,
.coin-name-card {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  width: 90px;
  word-break: break-all;
}

.coin-name-card {
  font-size: 14px;
  word-break: unset;
}

.coin-name {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  width: 90px;
  word-break: break-all;
}

.current-coin-card {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #4CD71D;
  margin-top: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 21px;
  width: 132px;
}

.card-max,
.card-min {
  background-color: #404040;
  border-radius: 4px;
  display: flex;
  width: auto;
}



.card-max-input,
.card-min-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  flex: 1;
  color: #C4C4C4;
  width: 96px;
  height: 32px;
  margin-left: 8px;
  appearance: none;
  padding: 0;
}

.max,
.min {
  border-radius: 4px;
  background-color: #404040;
  border: none;
  cursor: pointer;
  padding: 7px;
}

.max-button {}

.card-min {}

.card-min {}

.min {}

.min-button {}